

.post-item {
  min-width: 600px;
  max-width: 60%;
  padding: 15px;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
}

.post-header {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.post-name {
  font-size: 22px;
  color:#000;
  font-weight: 400;
  text-decoration: none;
  margin-bottom: 0px;
  margin-right: auto;
}

.post-preview {
  width: 600px;
  height: 260px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-bottom: 15px;
}

.post-img {
  width: 25px;
}

.post-comments {
  margin-left: auto;
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  &__img {
    width: 30px;
    margin-right: 5px;
  }
}

.post-description {
  margin-bottom: 10px;
  margin-left: auto;
}
